header{
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    height: 50vh;
    background-color: #FFFF66;
}
header h1{
    margin: 0;
    font-size: 4rem;
    color:rgb(33, 37, 41)
}
header p {
    font-size: 1.75rem;
    color:rgb(33, 37, 41);
    font-weight: 700;
    margin-bottom: 30px;
}
header a {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: 700;
    color:#fff;
    border-color: #1d809f;
    background-color: #1d809f;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}