.Login{
    background-color: #FFFF66;
    height: 60vh;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}

.title{
    height: 60vh;
    padding-bottom: 5px;
    margin: 0;
    padding: 0;
}
.title > h1 {
    color:black;
    font-family: 'Cinzel', serif;
    /* color:rgb(236, 184, 7); */
    text-decoration: underline;
    padding-top: 20px;
    font-size: 60px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
label{
    color:black;
    font-size: 30px;
    line-height: 50px;
    margin-left: -10%;
}
.input{
    width: 400px;
    height: 30px;
    margin-left: 37%;
}
.inputs a {
    background-color: #1d809f;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    margin-top: 15px;
    margin-left: 37%;
    width: 300px;
    height: 50px;
    border-radius: .25rem;
}